*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Reset weights */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* make images and video easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

video {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
